@media screen and (min-width: 700px) {
  .articleCard-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .articleCard-item {
    max-width: 400px;
    width: 400px;
  }

  .articleCard-img {
    height: 15rem;
    width: 15rem;
  }

  .singleArticle-img {
    height: fit-content;
    width: fit-content;

  }

  .singleArticle-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }


.voting-data {
  margin-top: 20px;
  font-size: 25px;
  text-align: left;
}

}


@media screen and (max-width: 700px) {
  .articleCard-list {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; 
  }

  .articleCard-item {
    max-width: 400px;
  }

  .articleCard-img {
    height: 10rem;
    width: 10rem;
  }

  .singleArticle-img {
    height: 20rem;
    width: 20rem;
  }

  .voting-data {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
  }
}

* {
  text-decoration: none;
  color: black;
  line-height: 1.5;
}

.navbar-container {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content:flex-start;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.navbar-articles, .navbar-topics, .navbar-login {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-articles, .navbar-topics {
  border-style: solid;
  border-width: 1px;
  border-width: 0 1px 0 0;
}

.navbar-header {
  margin-right: auto;
}

.articleCard-list {
  margin: 0px;
  list-style: none;
  margin-top: 10px;
  padding: 0px;
}

.articleCard-item {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
}

.articleCard-item:hover {
  text-decoration: underline;
}

.articleCard-img {
  object-fit: cover;
  border-radius: 5px;
}

.articleCard-title {
  text-align: center;
}

.articles-header {
  margin: 0px;
  width: 300px;
  margin-top: 40px;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding-bottom: 10px;
}

.loading-header {
  text-align: center;
}

.singleArticle-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.singleArticle-img {
  object-fit: cover;
}

.singleArticle-time {
  text-align: left;
}

.commentsList-container {
  list-style: none;
  padding: 0px;
  text-align: left;
}

.voting-container {
  display: grid;
  grid-template-columns: 40px 40px;
  }

.voting-plus, .voting-minus {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  background-color: white;
  border-width: 1px;
}

.votingClicked-plus, .votingClicked-minus {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  background-color: rgb(161, 161, 161);
  border-width: 1px;
}

span {
  font-size: 20px;
}