@media screen and (min-width: 700px) {

  .voting-data {
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {

  .voting-data {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
  }
}

* {
  text-decoration: none;
  color: black;
  line-height: 1.5;
}


.loading-header {
  text-align: center;
}

.singleArticle-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.singleArticle-img {
  object-fit: cover;
}

.singleArticle-time {
  text-align: left;
}

.commentsList-container {
  list-style: none;
  padding: 0px;
  text-align: left;
}

.voting-container {
  display: grid;
  grid-template-columns: 30px 40px;
  width: min-content;
  margin-left: auto;
  }

.voting-plus, .voting-minus {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  background-color: white;
  border-width: 1px;
}

.votingClicked-plus, .votingClicked-minus {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  background-color: rgb(161, 161, 161);
  border-width: 1px;
}

#learn-more {
  color: purple;
}